/* Universal selector. Selects each and every element on page
and apply declarations here to them */
/* Universal selector. Selects each and every element on page
and apply declarations here to them */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* root font size set for conversion to rem. 1rem == 10px */
html {
  font-size: 62.5%; }

/* site wide font settings */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* changes box model so borders and padding are no longer added */
  box-sizing: border-box; }

/* header section */
.header {
  /* 95% of viewport height */
  height: 95vh;
  /* add image and color gradient */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  /* shapes picture into polygon */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative; }

.header__logo-box {
  /* position is relative to parent class .header */
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

/* center position box */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.55rem;
  animation: moveInLeft 3s;
  /* animation-name: moveInLeft;
    animation-duration: 3s; */
  /* animation-delay: 1s; */ }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.41rem;
  animation-name: moveInRight;
  animation-duration: 3s; }

/* animation */
@keyframes moveInLeft {
  /* starts invisible */
  0% {
    opacity: 0;
    /* animation starts from left */
    transform: translateX(-10rem); }
  /* Causes a 'bounce back'
    80% {
        transform: translateX(20px);
    } */
  /* complete transition */
  100% {
    opacity: 1;
    /* completed state */
    transform: translate(0); } }

@keyframes moveInRight {
  /* starts invisible */
  0% {
    opacity: 0;
    /* animation starts from left */
    transform: translateX(10rem); }
  /* complete transition */
  100% {
    opacity: 1;
    /* completed state */
    transform: translate(0); } }

@keyframes moveInBottom {
  /* starts invisible */
  0% {
    opacity: 0;
    /* animation starts from left */
    transform: translateY(3rem); }
  /* complete transition */
  100% {
    opacity: 1;
    /* completed state */
    transform: translate(0); } }

/* button */
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  /* transition must be in initial state, affects other 
    properties then */
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translate(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

/* btn after pseudo */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index defines the position of elements if one
    on top of the other */
  z-index: -1;
  transition: all 0.4s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom 3s;
  animation-fill-mode: backwards; }
