//  resuable colors
//  medium green
$color-primary: #55c57a;
//  light green
$color-primary-light: #7ed56f;
//  dark green
$color-primary-dark: #28b485;
//  grey dark
$color-grey-dark: #777;
//  grey light
$color-grey-light-1: #f7f7f7;
//  grey light
$color-medium-grey: #eee;
//  light blue
$color-light-blue: #07C0FA;
//  dark blue
$color-dark-blue: #1B4C5B;
//  white
$color-white: #fff;
//  black
$color-black: #000;
//  light orange
$color-light-orange: #ffb900;
//  dark orange
$color-dark-orange: #ff7730;
//  GRID variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
//  font size
$default-font-size: 1.6rem;